body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3103;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #964a0c;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container h1 {
    margin: 0;
    font-size: 0.3rem;
}

nav {
    margin: 0;
}
.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}


.nav-menu li a {
    text-decoration: none;
    color: #11898d;
    font-weight: bold;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.nav-menu li a:active {
    color: #0056b3;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d88b18;
    padding: 20px;
}
.display-events{
   display: grid;
}
.create-events-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}